#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* added personally */
.swiper-wrapper {
  top: 30px; 
}

.swiper {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 470px;
  height: 470px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
